.bg {
  background-color:#aaaaaa;
}

a {
    font-size:32px;
}

.post {
  padding-bottom: 20px;
}

.post-head {
  background-color:#00aaff;
  color:#fff;
  padding:15px;
  border-radius:10px 10px 0 0;
}

.post-body {
  background-color:#fff;
  padding:15px;
}

.post-container {
  background-color:#aaddff;
  border:solid #777777 2px;
  border-radius: 25px;
  margin:10px;
  margin-top:100px;
  padding:25px;
}

.post-title {
  font-size: 2em;
}

.post-content {
  font-size: 1.5em;
}

.text-box {
  font-size:2em;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 5px;
}

.ifbtn {
  background-color: #005599;
  border-radius: 10px;
  padding:10px;
  color:#fff;
}

.ifbtn:hover {
  background-color: #aaddff;
}

.comment {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color:#aaddff;
  border-radius:5px;
}

.comment-author {
  color: #005599;
  font-size: 1.25em;
}

.comment-content {
  font-size:1.1em;
}

.comment-container {
  background-color: #00aaff;
  padding:10px 0 15px 0;
  border-radius:0 0 10px 10px;
  border:solid #aaaaaa 1px;
}

.nav-container {
  background-color:#003366;
  padding-top:10px;

}

.nav-bar {

}

.nav-bar a {
  color: #fff;
}
.nav-bar a:hover {
  color: #fff;
}

.logo {
  padding:10px;
}
