<html ng-app="InstantForum">
<title>Instant Forum</title>
<head>
  <link rel="stylesheet" type="text/css" href="./css/style.css"/>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
</head>
<body class="col-lg-12 bg" ng-controller="PostController">
    <div ng-switch on="author || null">
      <!-- Username Choice !-->
      <div ng-switch-when="null">
        <div class="nav-container col-lg-12">
          <ul class="nav-bar">
            <a>Instant Forum</a>
          </ul>
        </div>
        <a class="col-lg-2">Name</a>
        <input class="text-box col-lg-10" type="text" ng-model="$parent.username"/>
        <a class="col-lg-2">Password</a>
        <input class="text-box col-lg-10" type="password" ng-model="$parent.password"/>
        <a class="ifbtn text-center" ng-click="join()">Join Forum</a>
      </div>

      <div ng-switch-default>
        <div class="nav-container col-lg-12">
          <ul class="nav-bar col-lg-12">
            <a class="col-lg-10 logo">Instant Forum</a>
            <a class="col-lg-2 ifbtn text-center" ng-click="logout()">Logout</a>
          </ul>
        </div>
        <br/>

        <!-- Posts Go Here !-->
        <div class="row post-container" >
          <div ng-repeat="post in posts" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 post">
            <div class="post-head post-title">{{post.Author}}</div>
            <div class="post-body post-content">{{post.Content}}</div>
            <div class="post-tail">
              <div class="comment-container">
                <div ng-repeat="comment in post.Comments">
                  <div class="comment col-lg-10 col-lg-offset-1">
                    <span class="comment-author col-lg-12">{{comment.Author}}</span>
                    <span class="comment-content col-lg-12">{{comment.Content}}</span>
                  </div>
                </div>
                <div class="text-center">
                  <input type="text" class="col-lg-10 col-lg-offset-1 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-12 col-xs-offset-0 text-box" ng-model="post.CommentContent"/>
                  <a class="ifbtn text-center" ng-click="comment(post.ID)">Comment</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- New Message Box !-->
        <div class="row">
          <input class="text-box col-lg-10 col-sm-12 col-xs-12" type="text" ng-model="$parent.text"/>
          <a class="ifbtn text-center col-lg-2 col-sm-12 col-xs-12" ng-click="send()">Send</a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./js/angular.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="./js/socket.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
</body>
</html>
